html, body {
  margin: 0;
  padding: 0;
}

ol,ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li a {
  text-transform: uppercase;
}

header {
  height: 450px;
  background: url(../img/header.png) center center no-repeat;
  background-size: cover;
}

.search-input-group {
  width: 100%;
}

.search-input-group .form-control {
  height: 50px;
  padding: 5px;
}
