html, body {
  margin: 0;
  padding: 0;
  background: #ecedee;
}

ol,ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}

.navbar li a {
  text-transform: uppercase;
}

header {
  height: 450px;
  background: url(../img/header.png) center center no-repeat;
  background-size: cover;
}

.navbar-inverse {
  border-radius: 0;
}

.search-input-group {
  width: 100%;
}

.search-input-group .form-control {
  height: 50px;
  padding: 5px;
}

.search-results {
  background: #fff;
  margin-top: 10px;
}

.search-results > h3 {
  padding: 10px 0;
  margin: 0;
  font-weight: normal;
  text-align: center;
  background: #5D616C;
  color: #fff;
}

.service-item {
  padding: 10px;
  border-bottom: 5px solid #ecedee;
}

.pagination-container {
  background: #ecedee;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 1em;
  }
  .service-item > h3 {
    font-size: 1.3em;
  }
}
