<html lang="en" ng-app="myApp">
<head>
  <meta charset="UTF-8">
  <title>Bridging Pasadena</title>
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script src="lib/angular/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js"></script>
  <script src="js/controllers.js"></script>
  <script src="lib/angular/dirPagination.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <script   src="https://code.jquery.com/jquery-1.11.3.min.js"   integrity="sha256-7LkWEzqTdpEfELxcZZlS6wAx5Ff13zZ83lYO2/ujj7g="   crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header class="hidden-xs"></header>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">Bridging Pasadena</a>
      </div>
    </div><!-- /.container-fluid -->
  </nav>
  <div class="instructions container">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
      <p><strong>Bridging Pasadena</strong> provides the most comprehensive resource tool enabling you to find community organizations providing services or support matching your specific needs.</p>
    </div>
  </div>
  <div class="container" ng-controller="myController">
  <div class="search">
      <h1 class="text-center">Online Resource Directory</h1>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="input-group search-input-group">
            <input type="text" ng-model="searchText" class="form-control center-block" placeholder="Refine results by keyword like 'housing' or 'youth'..." autofocus>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->
      </div><!-- /.row -->
  </div>
  <div class="search-results">
    <h3>Results  <span class="label label-info">Showing {{filtered.length}} Total Results</span></h3>
    <ul>
      <li class="service-item" dir-paginate=" service in filtered = (services | fuzzy: searchText) | itemsPerPage: 5 ">
        <h3>{{service.NAME}}</h3>

        <a class="btn btn-default visible-xs hidden-md" role="button" data-toggle="collapse" href="#collapse-{{ service.NAME | removeSpaces }}" aria-expanded="false" aria-controls="collapse-{{ service.NAME | removeSpaces }}">
          View location details
        </a>
        <div class="collapse" id="collapse-{{ service.NAME | removeSpaces }}">
          <div class="well">
            <p ng-if="service.ADDRESS"><strong>Address: </strong>{{service.ADDRESS}}</p>
            <p ng-if="service.PHONE"><strong>Phone: </strong>{{service.PHONE}}</p>
            <p ng-if="service.ALTPHONE"><strong>Alternative Phone: </strong>{{service.ALTPHONE}}</p>
            <p ng-if="service.HOURS"><strong>Hours: </strong>{{service.HOURS}}</p>
            <p ng-if="service.AFTERHOURS"><strong>After Hours: </strong>{{service.AFTERHOURS}}</p>
            <p ng-if="service.DESCRIPTION"><strong>What We Do: </strong>{{service.DESCRIPTION}}</p>
            <p ng-if="service.EXTRA"><strong>Extra Info: </strong>{{service.EXTRA}}</p>
            <p ng-if="service.REQUIREMENTS"><strong>Support Services Requirements/Special Details: </strong>{{service.REQUIREMENTS}}</p>
            <p ng-if="service.LOCATION"><strong>Location Type: </strong>{{service.LOCATION}}</p>
            <p ng-if="service.OTHER"><strong>Other: </strong>{{service.OTHER}}</p>
            <p><strong>Assigned To: </strong>Assigned to Placeholder</p>
          </div>
        </div>
      </li>
      <div class="no-results" ng-show = "filtered.length == 0">
        Sorry, it appears there were no results returned with those keywords
      </div>
    </ul>
    <div class="text-center pagination-container">
      <dir-pagination-controls
         max-size="6"
         direction-links="true"
         boundary-links="true" >
      </dir-pagination-controls>
    </div>
  </div>
  </div>
</body>
</html>
